
#arrow{
    position:fixed;
    z-index: 10000;
}

#first{
    background-color:#bbb;
    width:100%;
    height:700px;
    border-bottom:2px solid #eee;
	background-color: red;
}
#second{
    background-color:#bbb;
    width:100%;
    height:700px;
    border-bottom:2px solid #eee;
	background-color:green;
}
#third{
    background-color:#bbb;
    width:100%;
    height:700px;
    border-bottom:2px solid #eee;
	background-color: blue;
}
#fourth{
    background-color:#bbb;
    width:100%;
    height:700px;
    border-bottom:2px solid #eee;
	background-color: white;
}
#fifth{
    background-color:#bbb;
    width:100%;
    height:700px;
    border-bottom:2px solid #eee;
	background-color: grey;
}

p.text {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15%;
    margin-bottom:15%;
}

h1.title{
	font-size: 50px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1%;
    margin-top: 15%;
}

h4.title{
	font-size: 30px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.count{
    font-size: 70px;
    font-family: serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#number{
    width:100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#clearStyle{
    position: relative;
}

.countries {
    stroke: #fff;
    stroke-width:0.5px;
}

.selected{
  background-color: red;
}

svg path:hover {
    opacity: 0.7;
}

#ATA {
    display:none;
}

.legendLinear text {
    font-size: 9px;
}

.label{
    stroke:lightgrey;
}

.myTooltipMap {
    position: absolute;
    z-index: 10;
}

.myTooltipMap p {
    font-family: Georgia,Palatino,serif;
    background-color: rgba(255, 255, 255, .7);
    padding: .2em .5em;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.line{
                fill:none;
                
                stroke-width:1px;
                stroke-opacity:30%;
            }
path.unfocused{
                fill:none;
                stroke-opacity:10%;
                stroke:grey;
            }
path.focused1{
                fill:none;
                stroke:blue;
                stroke-width:2px;
                stroke-opacity:1;
            }
path.focused2{
                fill:none;
                stroke:orange;
                stroke-width:2px;
                stroke-opacity:1;
            }
.axis text{
                font-family: sans-serif;
                font-size:9px;
            }
.lineLabel{
                font-size:12px;
            }

.labelOnLine{
                font-size:9px;
                stroke:none;
                fill:black;
                
            }

.labelHighlighted{
                font-size:9px;
                stroke:none;
                fill:black;
                opacity: 1.0;
            }


