svg{
				background-color: white;
			}
			.axis path,
			.axis line{
				fill:none;
				stroke: black;
				stroke-width: 1px;
			}
			.line{
				fill:none;
				
				stroke-width:1px;
				stroke-opacity:30%;
			}
			path.unfocused{
				fill:none;
				stroke-opacity:10%;
				stroke:grey;
			}
			path.focused1{
				fill:none;
				stroke:blue;
				stroke-width:2px;
				stroke-opacity:1;
			}
			path.focused2{
				fill:none;
				stroke:orange;
				stroke-width:2px;
				stroke-opacity:1;
			}
			.axis text{
				font-family: sans-serif;
				font-size:9px;
			}
			.lineLabel{
				font-size:12px;
			}

			.highlightCountry{
				font-size:9px;
				stroke:none;
				fill:black;
			}
		